**Jupyter notebook**: Place your cursor in each In field and press Shift-Enter to execute it.

In [1]:
system"cd ",getenv[`HOME],"/course-introductory-workshop"
.trn.nbdir:system"cd"
\l scripts/loaddata.q

"Initializing variables"
"Loaded Weather CSV"
"Loaded Taxi Trips partitioned DB"
"Defining exercise results"
"Ready"

**Learning objectives** 

To understand:
* How to construct a qSQL query
* How to assign a variable
* Useful inbuilt aggregations 
* Grouping with by
* Using `fby` to avoid nested queries
* Updating existing data 
* Temporal arithmetic

# Data overview

The taxi database details cab fares in New York City. The data was provided from the
[NYC Taxi & Limousine Commission](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page).

The database we have loaded contains trip data starting at January 1st, 2009 until March 31st, 2009. The
database contains 6.9 million records and occupies 6Gb on disk with no compression. 

The taxi database is stored in a table called `trips`. To supplement the data, there is an additional New York City weather dataset called `weather`. This data was collected by the  [National Oceanic and Atmospheric Administration](https://www.noaa.gov) and distributed by the 
[National Climate and Data Center](https://www.ncdc.noaa.gov). The weather dataset contains daily
summaries for January 2009 from 187 distinct weather stations surrounding New York City.

# Data exploration

Tables form the core of Kx technology. Here we will go through how to access tables and examine their contents.

See what tables are currently in the database:

In [2]:
tables[]

`smalltrips`trips`weather

Inspect a table by typing its name.

In [3]:
smalltrips

date       month   vendor pickup_time                   dropoff_time         ..
-----------------------------------------------------------------------------..
2009.01.01 2009.01 CMT    2009.01.01D00:00:00.000000000 2009.01.01D00:04:12.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:00.000000000 2009.01.01D00:05:03.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:02.000000000 2009.01.01D00:05:40.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:04.000000000 2009.01.01D00:03:08.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:07.000000000 2009.01.01D00:19:01.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:09.000000000 2009.01.01D00:05:43.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:10.000000000 2009.01.01D00:05:50.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:13.000000000 2009.01.01D00:15:27.0..
2009.01.01 2009.01 DDS    2009.01.01D00:00:15.000000000 2009.01.01D00:01:29.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:16.000000000 2009.01.01D00:12:02.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:17.000000000 2009.01.01D00:22:02.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:21.000000000 2009.01.01D00:18:29.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:23.000000000 2009.01.01D00:15:25.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:25.000000000 2009.01.01D00:13:41.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:27:44.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:09:31.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:04:55.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:28.000000000 2009.01.01D00:11:10.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:29.000000000 2009.01.01D00:19:07.0..
2009.01.01 2009.01 DDS    2009.01.01D00:00:29.000000000 2009.01.01D00:27:08.0..
..

It is very easy to interrogate the kdb+/q process to get information from the process about the size and shape of the tables.

We can see how many records are in the table, by using [`count`](https://code.kx.com/q/ref/count).

We can also inspect the schema of `trips` with [`meta`](https://code.kx.com/q/ref/meta), obtaining a table of available columns and their types and other information. The following columns are produced:

- `c`: column name
- `t`: column [type](https://code.kx.com/q/ref/#datatypes)
- `f`: [foreign keys](https://code.kx.com/q/wp/foreign-keys/)
- `a`: [attributes](https://code.kx.com/q/basics/syntax/#attributes): modifiers applied for performance characteristics

In [4]:
count trips
meta trips

41859906

c           | t f a
------------| -----
date        | d
month       | m
vendor      | s
pickup_time | p   s
dropoff_time| p
duration    | n
passengers  | i
distance    | f
start_long  | f
start_lat   | f
end_long    | f
end_lat     | f
payment_type| s
fare        | f
surcharge   | e
tip         | f
tolls       | f
total       | f

# qSQL

If you have used SQL, you will find the syntax of qSQL queries very similar.

 <img src="images/qbies.png" width="50px" align="left"/><p style='color:#273a6e'><i> Here qSQL is like SQL but does not require a <code>*</code> to select all columns. </i></p>

In [5]:
select from smalltrips

date       month   vendor pickup_time                   dropoff_time         ..
-----------------------------------------------------------------------------..
2009.01.01 2009.01 CMT    2009.01.01D00:00:00.000000000 2009.01.01D00:04:12.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:00.000000000 2009.01.01D00:05:03.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:02.000000000 2009.01.01D00:05:40.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:04.000000000 2009.01.01D00:03:08.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:07.000000000 2009.01.01D00:19:01.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:09.000000000 2009.01.01D00:05:43.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:10.000000000 2009.01.01D00:05:50.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:13.000000000 2009.01.01D00:15:27.0..
2009.01.01 2009.01 DDS    2009.01.01D00:00:15.000000000 2009.01.01D00:01:29.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:16.000000000 2009.01.01D00:12:02.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:17.000000000 2009.01.01D00:22:02.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:21.000000000 2009.01.01D00:18:29.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:23.000000000 2009.01.01D00:15:25.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:25.000000000 2009.01.01D00:13:41.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:27:44.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:09:31.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:04:55.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:28.000000000 2009.01.01D00:11:10.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:29.000000000 2009.01.01D00:19:07.0..
2009.01.01 2009.01 DDS    2009.01.01D00:00:29.000000000 2009.01.01D00:27:08.0..
..

Get the `vendor`, `pickup_time` and `fare` columns from the entire table.

In [6]:
select vendor, pickup_time, fare from smalltrips

vendor pickup_time                   fare
-----------------------------------------
CMT    2009.01.01D00:00:00.000000000 5.8
CMT    2009.01.01D00:00:00.000000000 5.4
CMT    2009.01.01D00:00:02.000000000 5.8
CMT    2009.01.01D00:00:04.000000000 4.6
CMT    2009.01.01D00:00:07.000000000 27.8
CMT    2009.01.01D00:00:09.000000000 5.8
CMT    2009.01.01D00:00:10.000000000 5.8
CMT    2009.01.01D00:00:13.000000000 10.6
DDS    2009.01.01D00:00:15.000000000 2.9
CMT    2009.01.01D00:00:16.000000000 11.8
CMT    2009.01.01D00:00:17.000000000 20.2
CMT    2009.01.01D00:00:21.000000000 23.4
CMT    2009.01.01D00:00:23.000000000 12.2
CMT    2009.01.01D00:00:25.000000000 17.8
CMT    2009.01.01D00:00:27.000000000 30.2
CMT    2009.01.01D00:00:27.000000000 7.4
CMT    2009.01.01D00:00:27.000000000 5.8
CMT    2009.01.01D00:00:28.000000000 9
CMT    2009.01.01D00:00:29.000000000 14.6
DDS    2009.01.01D00:00:29.000000000 17.3
..

The next query extracts a few columns, but also filters on two criteria. Just as in SQL, table results can be filtered by expressions following a `where`. Multiple filter criteria, separated by `,`, are evaluated starting from the left.

Get taxi trips from the first day of data where the tip is greater than 20.

 <img src="images/qbies.png" width="50px" align="left"/><p style='color:#273a6e'><i> The first day of data is found by applying aggregation <code>min</code> to the <code>date</code> column, and selecting dates equal to it. <br><br> Q has many aggregations. We shall encounter more later. </i></p>

In [7]:
select date, month, vendor, passengers, fare, tip from trips 
    where date = min date, tip > 20

date       month   vendor passengers fare tip
-----------------------------------------------
2009.01.01 2009.01 DDS    1          33.3 33.8
2009.01.01 2009.01 CMT    2          77.4 30
2009.01.01 2009.01 CMT    1          47   95.45
2009.01.01 2009.01 CMT    1          112  23.6
2009.01.01 2009.01 CMT    1          41.4 40
2009.01.01 2009.01 CMT    2          26.2 36.23
2009.01.01 2009.01 CMT    3          27.4 20.8
2009.01.01 2009.01 CMT    3          135  25
2009.01.01 2009.01 DDS    4          127  23
2009.01.01 2009.01 CMT    1          11   24.24
2009.01.01 2009.01 CMT    4          27.8 24.24
2009.01.01 2009.01 CMT    1          120  24
2009.01.01 2009.01 CMT    4          10.6 28.84
2009.01.01 2009.01 CMT    1          9    22
2009.01.01 2009.01 CMT    2          15.4 30
2009.01.01 2009.01 CMT    1          24.2 30
2009.01.01 2009.01 CMT    1          13   20.2
2009.01.01 2009.01 CMT    1          45   60
2009.01.01 2009.01 DDS    1          136  27.2
2009.01.01 2009.01 CMT    1          26.6 31.63
..

**Structure of kdb+ database**

<img src="images/DbStructure.png" width="600" height="400">

Which query runs faster?

+ 1. ```select date, month, vendor, passengers, fare, tip from trips where date = min date, tip > 20```

+ 2. ```select date, month, vendor, passengers, fare, tip from trips where tip > 20, date = min date```

(1) runs faster. The `trips` table is a partitioned on the `date` column, which is the first filter in the [Where phrase](https://code.kx.com/q/basics/qsql/#where-phrase). Filtering on the partition column value first minimizes the number of directories to read.

We can test this theory with the [`\ts`](https://code.kx.com/q/basics/syscmds/#ts-time-and-space) system command.

In [8]:
\ts select date, month, vendor, passengers, fare, tip from trips where date = min date, tip > 20
\ts select date, month, vendor, passengers, fare, tip from trips where tip > 20, date = min date

29 794720

14022 1724592

Include calculated columns in the result by assignment in the form `column_name : value`.

In [9]:
select duration, total: fare + tip, fare, tip from trips

duration             total fare tip
-----------------------------------
0D00:04:12.000000000 5.8   5.8  0
0D00:05:03.000000000 5.4   5.4  0
0D00:05:38.000000000 5.8   5.8  0
0D00:03:04.000000000 4.6   4.6  0
0D00:18:54.000000000 27.8  27.8 0
0D00:05:34.000000000 5.8   5.8  0
0D00:05:40.000000000 5.8   5.8  0
0D00:15:14.000000000 10.6  10.6 0
0D00:01:14.000000000 2.9   2.9  0
0D00:11:46.000000000 11.8  11.8 0
0D00:21:45.000000000 20.2  20.2 0
0D00:18:08.000000000 23.4  23.4 0
0D00:15:02.000000000 12.2  12.2 0
0D00:13:16.000000000 17.8  17.8 0
0D00:27:17.000000000 30.2  30.2 0
0D00:09:04.000000000 7.4   7.4  0
0D00:04:28.000000000 5.8   5.8  0
0D00:10:42.000000000 9     9    0
0D00:18:38.000000000 14.6  14.6 0
0D00:26:39.000000000 17.3  17.3 0
..

A virtual column `i` maps to a record index in the table. A simple aggregation can be obtained by taking the count of this virtual column.

In [10]:
select count i from trips where date = min date, passengers = 2

x
-----
78198

Further reading:
-   [qSQL syntax](https://code.kx.com/q/basics/qsql/)
-   [*Q for Mortals* §9: Queries](https://code.kx.com/q4m3/9_Queries_q-sql/)

##### Exercise 1

- On the earliest date, how many trips had fewer than two passengers?

In [11]:
select count i from trips where date = min date, passengers < 2
//alternative way- select count i from trips where date = first date, passengers < 2

x
------
183492

In [12]:
// Enter your qSQL code here

In [13]:
ex1_a[] //check correct output

x
------
183492

- What about the last date?

In [14]:
select count i from trips where date = max date, passengers < 2
//alternative way- select count i from trips where date = last date, passengers < 2

x
------
332941

In [15]:
// Enter your qSQL code here

In [16]:
ex1_b[] //check correct output

x
------
332941

##### Exercise 2
- Select `payment_type` and `fare` from the trips data for the first date.

In [17]:
select payment_type, fare from trips where date = min date

payment_type fare
-----------------
CASH         5.8
CASH         5.4
CASH         5.8
CASH         4.6
CASH         27.8
CASH         5.8
CASH         5.8
CASH         10.6
CASH         2.9
CASH         11.8
CASH         20.2
CASH         23.4
CASH         12.2
CASH         17.8
CASH         30.2
CASH         7.4
CASH         5.8
CASH         9
No Charge    14.6
CASH         17.3
..

In [18]:
// Enter your qSQL code here

In [19]:
ex2[] //check correct output

payment_type fare
-----------------
CASH         5.8
CASH         5.4
CASH         5.8
CASH         4.6
CASH         27.8
CASH         5.8
CASH         5.8
CASH         10.6
CASH         2.9
CASH         11.8
CASH         20.2
CASH         23.4
CASH         12.2
CASH         17.8
CASH         30.2
CASH         7.4
CASH         5.8
CASH         9
No Charge    14.6
CASH         17.3
..

## Assignment

When exploring data, storing intermediate results is useful for avoiding repeated work.

 <img src="images/qbies.png" width="50px" align="left"/><p style='color:#273a6e'><i> In q, assignment is denoted by <code>:</code>.<br><br>The equal sign <code>=</code> retains its traditional meaning of testing for equality. </i></p>

Create a new variable as follows:

```
var_name: expression
```

In order to take a closer look at only the data corresponding to January 2009, we can select the data from trips and store the resulting table in a variable called `jan09`.

In [ ]:
// Use keyword 'within' to filter the date
jan09:select from trips where date within 2009.01.10 2009.01.31

// Check how many records are in the filtered table
count jan09

 <img src="images/qbies.png" width="50px" align="left"/><p style='color:#273a6e'><i> By making this assignment, the new variable <code>jan09</code> is stored in memory. <br><br> This is true whether the source data was also in memory or stored on disk. </i></p>

##### Exercise 3

+ Assign the result of Exercise 2 to a variable called `res2`

In [ ]:
res2:select payment_type, fare from trips where date = min date;

In [ ]:
// Enter your qSQL code here

In [ ]:
ex3[] //check correct output

## Aggregations

With the filtered data in `jan09`, aggregations and other analytics can be run without performing the filter query again. Below is a simple aggregation returning the sum of both the `fare` and `tip` columns.

In [ ]:
select sum fare, sum tip from jan09

[`sum`](https://code.kx.com/q/ref/sum/) is one of many built-in aggregations. Other built-in aggregations include, but are not limited to

- [`avg`](https://code.kx.com/q/ref/avg/#avg) - average (mean)
- [`med`](https://code.kx.com/q/ref/med/) - median
- [`min`](https://code.kx.com/q/ref/min/) - minimum value
- [`max`](https://code.kx.com/q/ref/max/) - maximum value
- [`count`](https://code.kx.com/q/ref/count/) - number of values

Reference: [Mathematics and statistics](https://code.kx.com/q/basics/math/)

##### Exercise 4
- Calculate the minimum and maximum tip from the `jan09` table.

In [ ]:
// maximum tip and minimum tip
select maxTip:max tip, minTip:min tip from jan09

In [ ]:
// Enter your qSQL code here

In [ ]:
ex4[] //check correct output

## Grouping with `by` 

Unlike SQL, qSQL lets you group and aggregate separately.
The easiest way to group similar values together is to use the `by` clause.

When used without an aggregation, `by` returns a list of values from the selected column. List types are completely valid types in q, so this fine.

In [ ]:
select fare by vendor from jan09

To extract some useful insight from the data, grouping is best used with aggregation functions as shown below:

In [ ]:
select sum fare, sum tip by vendor from jan09

In [ ]:
// Get the number of records per day in the filtered table
select count i by date from jan09

##### Exercise 5
- What is the biggest tip for each vendor?

In [ ]:
select max tip by vendor from jan09

In [ ]:
// Enter your qSQL code here

In [ ]:
ex5[] //check correct output

##### Exercise 6 
- What is the highest tip and average tip per payment_type?

In [ ]:
select maxTip:max tip, avgTip:avg tip by payment_type from jan09

In [ ]:
// Enter your qSQL code here

In [ ]:
ex6[] //check correct output

## Using `fby` to avoid nested queries

Nested queries are commonly required in SQL where filter criteria require aggregations in the context of some other column. For example, getting all records where the ride duration is less than the average for that taxi’s vendor.

In SQL  we would first get the average duration for each vendor; then perform a query for each duration and vendor:

In [ ]:
// Get the average duration per vendor and save resulting table in a variable
resBy: select avgDuration:avg duration by vendor from jan09

In [ ]:
// Using 'lj' to join the average duration column to our table
// Don't worry about this now, joins are discussed in a later section
select from jan09 lj resBy where duration < avgDuration

In q, this can be simply expressed using [`fby`](https://code.kx.com/q/ref/fby/).

The syntax of `fby` is `(aggregation;data) fby group`, as query below. Compare the above statement to how it was done without `fby`.

In [ ]:
select max fare from jan09 where duration < (avg;duration) fby vendor

You can see how much simpler an `fby` clause is compared to the above statements.

##### Exercise 7

- Which payment type produces the highest average tip when only trips with a fare larger than the average for each vendor is considered?

In [ ]:
res7a:select avg tip by payment_type from jan09 where fare > (avg;fare) fby vendor;
show res7a;
select payment_type from res7a where tip = max tip

In [ ]:
// Enter your qSQL code here

In [ ]:
ex7_a[] //check correct output

- Which vendor has the largest number of trips when only considering trips shorter than the average duration for each vendor?

In [ ]:
res7b:select count i by vendor from jan09 where duration < (avg;duration) fby vendor;
show res7b;
select vendor from res7b where x = max x

In [ ]:
// Enter your qSQL code here

In [ ]:
ex7_b[] //check correct output

## Updating existing data

When exploring, you often need to fix bad data, whether from incorrect entry, incompatible units of measure, or other reasons. 

If we inspect the data and look at the maximum passengers for each vendor, the maximum number for 2 vendors is 6.

In [ ]:
select max passengers by vendor from jan09

If the above data is wrong, it can be fixed using `update` to change the data. Below, the passengers column is set to the value `5` in any entry where the passenger count is greater than 5. This is then assigned back to `jan09`.

In [ ]:
// Find all records where the number of passengers is greater than 5
select from jan09 where passengers > 5

In [ ]:
// Update maximum number of passengers to be 5 
// Save changes by reassigning back to jan09
jan09: update passengers: 5 from jan09 where passengers > 5

In [ ]:
jan09

Observe below that the maximum passengers reported has now been updated.

In [ ]:
select max passengers by vendor from jan09

Now that we have updated the table, we can add a column with the weighted average fare per passenger:

In [ ]:
jan09:update wAvgfare:passengers wavg fare from jan09
meta jan09 //new column has been added to the end of the table

We also see a few trips that didn't take place: no recorded duration. Let’s delete these rows:

In [ ]:
count jan09  //number of records before deleting rows
jan09:delete from jan09 where duration=00:00:00.000
count jan09  //number of records after deleteing rows

## Temporal Arithmetic

Q supports several temporal types and arithmetic between them. Writing queries involving time is simple.  

See [here](https://code.kx.com/q/ref/#datatypes) for a summary of [`datatypes`](https://code.kx.com/q/ref/#datatypes)

The `pickup_time` column in the data has a type of *timestamp*.
As an example, we could convert the `pickup_time` values to their `minute` values (including hours and minutes), and group the data based on this time frame.

In [ ]:
select pickup_time, pickup_time.second, pickup_time.minute, pickup_time.hh from jan09

 <img src="images/qbies.png" width="50px" align="left"/><p style='color:#273a6e'><i> The query below returns the total money made each minute by cabs in January. <br><br> Observe the following expression within the query: <code>sum fare + tip</code> </i></p>

This expression highlights an important feature of q syntax: **evaluation is from right-to-left**. The argument of `sum` is everything to its right, that is `fare` plus `tip. This simple rule holds everywhere; there are no priorities to remember.

In [ ]:
select total:sum fare + tip by pickup_time.minute from jan09

In [ ]:
select total:(sum fare) + tip by pickup_time.minute from jan09

Aggregate further on time by using `xbar` to bucket the minutes into hours. Group the minutes into 60-unit buckets to produce hours:

In [ ]:
select count i by 60 xbar pickup_time.minute from jan09 where date = 2009.01.10

##### Exercise 8
- Show the largest tip for each 15-minute timespan during the month of January.

In [ ]:
select max tip by 15 xbar pickup_time.minute from jan09

In [ ]:
// Enter your qSQL code here

In [ ]:
ex8_a[] //check correct output

 - Break this information down by vendor.

In [ ]:
select max tip by 15 xbar pickup_time.minute,vendor from jan09

In [ ]:
// Enter your qSQL code here

In [ ]:
ex8_b[] //check correct output